@inject Wangkanai.Detection.Services.IDetectionService DetectionService
@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        <li>@DetectionService.Device.Type</li>
        <li>@DetectionService.Browser.Name</li>
        <li>@DetectionService.Platform.Name</li>
        <li>@DetectionService.Engine.Name</li>
        <li>@DetectionService.Crawler.Name</li>
    </ul>
</div>
