@inject Wangkanai.Detection.Services.IDetectionService DetectionService
@{
ViewData["Title"] = "Home Page";
}

<style>
    span {
        color: #033a30;
    }

    a {
        color: #1d695b;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to <span>BeakPeek</span></h1>
    <p>Learn about <a href="https://github.com/COS301-SE-2024/BeakPeek">BeakPeek Github Repository</a>.</p>

    <!-- <ul> -->
    <!--     <li>@DetectionService.Device.Type</li> -->
    <!--     <li>@DetectionService.Browser.Name</li> -->
    <!--     <li>@DetectionService.Platform.Name</li> -->
    <!--     <li>@DetectionService.Engine.Name</li> -->
    <!--     <li>@DetectionService.Crawler.Name</li> -->
    <!-- </ul> -->
</div>
